@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-size: 1rem;
}

table {
    border: 0;
    border-collapse: collapse;
}

fieldset,img,input {
    border: 0;
}

caption, legend, hr {
    display: none;
}

address, caption, em {
    font-weight: normal; font-style: normal;
}

input, select, textarea {
    vertical-align: middle;
}
.clearfix:after{content: "";display: block;clear: both;}

.bx-wrapper {position: relative;margin: 0 auto 60px;padding: 0;	*zoom: 1;}
.bx-wrapper img {max-width: 100%;display: block;}

.bx-wrapper .bx-viewport {	/*fix other elements on the page moving (on Chrome)*/-webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform:translatez(0);transform: translatez(0);}
.bx-wrapper .bx-viewport ul {margin:0px; padding:0px;}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {position: absolute;	bottom: -48px;width: 100%;}