@charset "utf-8";

:root{
    --bg: #fff;
    --txt: #333;
}
@media (prefers-color-scheme: dark) {
    :root{
        --bg: #333;
        --txt: #fff;
    }
}

@font-face {
    font-family: 'EliceDigitalBaeum_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.tit{
    font-family: 'EliceDigitalBaeum_Regular', sans-serif;
    line-height: 1.0;
    color: var(--txt);
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    line-height: 1.0;
    background: var(--bg);
    color: var(--txt);
}
